<h1>New Book</h1>

<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "Go Back to Book Store", books_path %>